<!DOCTYPE html>
<html lang="en">

    <head>
        <title>EventFULL</title>
        
        <nav class="navbar navbar-dark fixed-top" style="background-color: #7ccba2cb; ">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home">EventFULL</a>

                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Αναζητήστε Εκδηλώσεις, Άτομα, Τοποθεσίες" aria-label="Search" style="width: 500px">
                    <button class="btn btn-success" type="submit" style="background-color:#16874bf6">ΟΚ</button>
                </form>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" style="background-color:#16874bf6">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header" style="background-color: #7ccba293; ">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MENU</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" style="background-color: #7ccba293; ">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Αρχική σελίδα</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/profile">Το προφίλ μου</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Αποσύνδεση</a>
                    </li>
                    </ul>
                    
                </div>
            </div>
        </nav>    

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    
    </head>
    
    <body style="background-image: url()">
        
        <p style=" justify-content: center; margin-top: 100px; display: flex; font-weight: bold; font-size: 40px; ">
           Τοποθεσία Εκδήλωσης
        </p>  
    
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div style="display: flex; justify-content: center; margin-top: 50px; ">
                        <form class="row g-3">
                            <div class="text-center">
                                <img src="https://img.icons8.com/external-nawicon-outline-color-nawicon/64/000000/external-location-maps-and-navigation-nawicon-outline-color-nawicon-2.png"style="width:200px;height:200px;"/>
                            </div>
                            <div class="col-12">
                                <label  for="floatingTextarea2" class="form-label"></label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="Ονομασία">
                                
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label"></label>
                                <input type="text" class="form-control" id="inputCity" placeholder="Διεύθυνση">
                            </div>
                            <div class="col-md-6">
                                <label for="inputZip" class="form-label"></label>
                                <input type="tel" class="form-control" id="inputZip" placeholder="Τηλέφωνο">
                            </div>
                            <div>
                                <table class="table" style="width:80%; margin-right:40px; margin-top:30px;">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width:20px"></th>
                                        <th scope="col" style="width:60px">Παροχές</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><img src="https://img.icons8.com/color/48/null/checkmark--v1.png" style="width:20px;height:20px;"/></td>
                                        <td>WC</td>
                                    </tr>
                                    <tr>
                                        <td><img src="https://img.icons8.com/color/48/null/delete-sign--v1.png" style="width:20px;height:20px;"/></td>
                                        <td>Χώρος Στάθμευσης</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3084.8424439295395!2d22.929275315610806!3d39.359804427159105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a76c72e66f0d23%3A0x59dee8e6d2df3022!2sUniversity%20of%20Thessaly%2C%20Polytechnic%20University%2C%20Pedion%20Areos!5e0!3m2!1sen!2sus!4v1667562424759!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    <br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
                                    <a href="https://www.embedgooglemap.net">google maps in html</a>
                                    <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
                                </div>
                            </div>
                        </form>
                    </div>
              </div>
              <div class="col">
                
                    <p style=" justify-content: center; margin-top: 50px;  margin-bottom: 30px; display: flex; font-weight: bold; font-size: 20px; ">
                        Επερχόμενες εκδηλώσεις 
                    </p>  
                    <div id = "UpcomingEvents" style="margin-top: 50px">
                        <div class="card mb-3" style="max-width: 700px;margin: 0 auto;float: none;margin-bottom: 10px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="https://www.paidikihara.gr/wp-content/uploads/2020/01/party-18xronon.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Πάρτυ</h5>
                                        <p class="card-text">Ένα μοναδικό πάρτυ</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" label for="date">
                                            <input type="date" class="form-control" id="date">
                                        </li>
                                        <li class="list-group-item" for="time">
                                            <input type="time" class="form-control" id="time"></li>
                                        <li class="list-group-item">Τοποθεσία</li>                    
                                        <li class="list-group-item">Διοργανωτής</li>
                                    </ul>
                                    <div class="card-body">
                                        <a href="/eventprofile" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="card mb-3" style="max-width: 700px;margin: 0 auto;float: none;margin-bottom: 10px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="https://www.maxmag.gr/wp-content/uploads/2020/11/a9495a6d897c714db07320d3bba4eb87.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Θεατρική Παράσταση</h5>
                                        <p class="card-text">Μια σπαρταριστή κωμωδία </p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" label for="date">
                                            <input type="date" class="form-control" id="date">
                                        </li>
                                        <li class="list-group-item" for="time">
                                            <input type="time" class="form-control" id="time"></li>
                                        <li class="list-group-item">Τοποθεσία</li>                    
                                        <li class="list-group-item">Διοργανωτής</li>
                                    </ul>
                                    <div class="card-body">
                                        <a href="/eventprofile" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="card mb-3" style="max-width: 700px;margin: 0 auto;float: none;margin-bottom: 10px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="https://scontent.fath3-4.fna.fbcdn.net/v/t39.30808-6/282189416_1122696374957149_6749716041695694468_n.jpg?stp=dst-jpg_p526x395&_nc_cat=100&ccb=1-7&_nc_sid=0debeb&_nc_ohc=U97H7Fyv-BQAX_uDaU_&_nc_ht=scontent.fath3-4.fna&oh=00_AfAgld7FDgu2yC7hqvGKMBOdhDplthIrvz5f11Lno__E9w&oe=636CBDEC" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Πάρτυ ΜΗΧ ΜΗΧ</h5>
                                        <p class="card-text">Ένα μοναδικό πάρτυ</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" label for="date">
                                            <input type="date" class="form-control" id="date">
                                        </li>
                                        <li class="list-group-item" for="time">
                                            <input type="time" class="form-control" id="time"></li>
                                        <li class="list-group-item">Τοποθεσία</li>                    
                                        <li class="list-group-item">Διοργανωτής</li>
                                    </ul>
                                    <div class="card-body">
                                        <a href="/eventprofile" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 700px;margin: 0 auto;float: none;margin-bottom: 10px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="https://www.efsyn.gr/sites/default/files/styles/default/public/2021-08/synavlia_klassikis.jpg?itok=nvs7k-dF" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Συναυλία</h5>
                                        <p class="card-text">Αφιέρωμα στην κλασσική μουσική</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" label for="date">
                                            <input type="date" class="form-control" id="date">
                                        </li>
                                        <li class="list-group-item" for="time">
                                            <input type="time" class="form-control" id="time"></li>
                                        <li class="list-group-item">Τοποθεσία</li>                    
                                        <li class="list-group-item">Διοργανωτής</li>
                                    </ul>
                                    <div class="card-body">
                                        <a href="/eventprofile" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
          </div>
    </body>
    
</html>

